name: Members API
basePath: https://api.sample.com/members
description: |
  This service is used for lots of fun things
  
  * It would not make for a very exciting REST API, but
    that's perfectly acceptable for a fixture file.
  * These bullets are mostly to demonstrate Markdown interpolation
discussion: |
  This is room at the bottom of the page for more details about
  this service.