body {
	background: #eee;
	font: 12pt/16pt sans-serif;
	margin: 0;
	padding: 0;
}

tt, kbd {
	font-family: Monaco, monospace;
	font-size: 80%;
}

a {
	color: inherit;
	background: #ccc;
	text-decoration: none;
}
a:hover { background: #ddd; }

li {
	list-style: square;
}

#header {
    background: #666;
    padding: 12pt;
}

#header .item {
    color: #ccc;
    font-family: Georgia, serif;
}

#header .item:after {
    content: " >";
}

#header .item:last-child:after {
    content: "";
}

#header .item a {
    background: transparent;
}

#page {
    background: white;
	width: 600pt;
	margin: 12pt auto;
	padding: 12pt;
}

#toc {
    padding-bottom: 2em;
}

