<span class="endpoint-name <%= 'deprecated' if deprecated? -%>">
  <span class="verb"><%= endpoint.verb %></span>
  <span class="root"><%= base_path %></span>
  <span class="path"><%= path %></span>
  <% if deprecated? %>
  (deprecated)
  <% end %>
</span>
